.dh_theme_changer {
  background-color: gray;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  height: 20px;
  position: absolute;
  right: 0;
  top: 10%;
  width: 20px;

  &_circle {
  }
}
