@import "../create-theme.scss";

.dh_theme_dark {
  @include createTheme(
    $background: #121212,
    $surface: #121212,
    $error: #cf6679,
    $primary: #bb86fc,
    $primary1: #3700b3,
    $secondary: #03dac5,
    $secondary2: #018786,
    $elevation: #ffffff
  );
}
