@import "./components/styles.scss";

@import "./styles/themes/dark.scss";
@import "./styles/themes/light.scss";
@import "./styles/themes/blue.scss";

body {
  background-color: var(--background);
  height: 100vh;
  margin: 0;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}
