@import "./components/styles.scss";

@import "./styles/themes/dark.scss";
@import "./styles/themes/light.scss";
@import "./styles/themes/blue.scss";

.dh {
  background-color: var(--background);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;

  &-root {
    height: 100%;
    width: 100%;
  }
}
